<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <connectionStrings>
    <add name="NEEVConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=neevdb;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--<connectionStrings>
    <add name="mhmConnectionString" connectionString="server=148.72.232.182;port=3306;User ID=mhmuser;Password=MhmUser@0518;Database=mhmdb;SslMode=none;CHARSET=utf8" providerName="MySql.Data.MySqlClient"/>
    --><!--<add name="NCLPConnectionString" connectionString="Data Source=43.255.152.21;Integrated Security=False;User ID=mhmdb;Password=Mhm@0518;" providerName="System.Data.SqlClient" />--><!--
  </connectionStrings>-->
  <system.web>
    <trust level="Full"/>
    <customErrors mode="Off"/>
      <compilation debug="true" targetFramework="4.6.1"/>
      <httpRuntime targetFramework="4.6.1"/>
      <machineKey validationKey="CE449605CF7517024D7991B97082EA98D189D07C7B63E439586CF08CC665474F62430E05BCEA137196B59FD0FD61723F226E5FC695C9A54DD800ED0105B3343F" decryptionKey="DF7D406B26F9E34B4BCF8D35CFE6A1F89E7F7193DD84015B"/>
      <urlMappings enabled="true">
        <add url="~/Home" mappedUrl="Default.aspx"/>
        <add url="~/Events" mappedUrl="Events.aspx"/>
        <add url="~/NEEV_Centers" mappedUrl="Neev_Centers.aspx"/>
        <add url="~/About_Us" mappedUrl="About_Us.aspx"/>
        <add url="~/Contact_Us" mappedUrl="Contact_Us.aspx"/>
        <add url="~/Donate" mappedUrl="Donate.aspx"/>
        <add url="~/Team_NEEV" mappedUrl="Team_NEEV.aspx"/>
        <add url="~/Photo_Gallery" mappedUrl="Photo_Gallery.aspx"/>
        <add url="~/Member_Page" mappedUrl="Member_Page.aspx"/>
        <add url="~/Staff" mappedUrl="Staff.aspx"/>
        <add url="~/Our_Works" mappedUrl="Our_Works.aspx"/>
        <add url="~/Media_Coverage" mappedUrl="Media_Coverage.aspx"/>
        <add url="~/Chrismas_18" mappedUrl="Chrismas_18.aspx"/>
        <add url="~/Lalkurti_Slum_Class" mappedUrl="Lalkurti_Slum_Class.aspx"/>
        <add url="~/Learning_By_Doing" mappedUrl="Learning_By_Doing.aspx"/>
        <add url="~/Monthly_Tests" mappedUrl="Monthly_Tests.aspx"/>
        <add url="~/Sapling_And_Quizes" mappedUrl="Sapling_and_Quizes.aspx"/>
        <add url="~/Shoes_Distribution_19" mappedUrl="Shoe_Distribution19.aspx"/>
        <add url="~/NEEV_Classes" mappedUrl="NEEV_Classes.aspx"/>
        <add url="~/Our_Story" mappedUrl="Our_Story.aspx"/>
        <add url="~/Contributors" mappedUrl="Contributor.aspx"/>
        <add url="~/Member_Checkout" mappedUrl="Member_CheckOut.aspx"/>
        <add url="~/Payment_Confirmation" mappedUrl="PaymentCallback.aspx"/>
        
        
        <add url="~/Staff_Home" mappedUrl="Mgmt_Zone/Default.aspx"/>
        <add url="~/Staff_Logout" mappedUrl="Mgmt_Zone/Logout.aspx"/>
        <add url="~/Staff_Password" mappedUrl="Mgmt_Zone/Password.aspx"/>
        <add url="~/Member_List" mappedUrl="Mgmt_Zone/Member_List.aspx"/>
        
      </urlMappings>
    </system.web>
</configuration>
